Repository ral-facilities/datagateway, pull requests merged in 2020-07, with the labels that each got.

#307 Feature/inherit theme options #99
  .eslintrc.js
  packages/datagateway-common/src/dgThemeProvider.component.test.tsx
  packages/datagateway-common/src/dgThemeProvider.component.tsx
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/state/actions/actions.types.tsx
  packages/datagateway-common/src/state/middleware/dgcommon.middleware.tsx
  packages/datagateway-dataview/src/App.tsx
  packages/datagateway-dataview/src/index.tsx
  packages/datagateway-download/src/App.tsx
Labels: MVP, datagateway-dataview, datagateway-download

#324 Fix datagateway-common compile error due to DGThemeProvider (#323)
  packages/datagateway-common/src/dgThemeProvider.component.tsx
Labels: bug, datagateway-common

#318 Feature/plugin load error #129
  packages/datagateway-dataview/src/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Labels: bug, datagateway-dataview, datagateway-download

#329 Feature/download settings max #328
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/public/datagateway-download-settings.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/ConfigProvider.test.tsx
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/__mocks__/axios.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Labels: datagateway-download, enhancement
