Repository ral-facilities/datagateway, pull requests merged in 2020-03, with the labels that each got.

#104 Feature/download status #48
  README.md
  packages/datagateway-common/package.json
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-common/src/table/cellRenderers/__snapshots__/actionCell.component.test.tsx.snap
  packages/datagateway-common/src/table/cellRenderers/actionCell.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/cypress/fixtures/example.json
  packages/datagateway-download/cypress/fixtures/profile.json
  packages/datagateway-download/cypress/fixtures/users.json
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadApi.test.ts
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-download/src/index.tsx
  packages/datagateway-download/src/tooltip.component.tsx
  packages/datagateway-search/package.json
  packages/datagateway-table/package.json
  packages/datagateway-table/public/datagateway-table-settings.example copy.json
Labels: MVP, datagateway-download

#141 Feature/disable download type #120
  .gitignore
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/ConfigProvider.tsx
  packages/datagateway-download/src/downloadApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Labels: MVP, datagateway-download, enhancement

#163 Feature/calculate file size #118
  packages/datagateway-table/cypress/integration/dls/datasets.spec.ts
  packages/datagateway-table/cypress/integration/dls/visits.spec.ts
  packages/datagateway-table/src/dls/detailsPanels/__snapshots__/datasetDetailsPanel.component.test.tsx.snap
  packages/datagateway-table/src/dls/detailsPanels/__snapshots__/visitDetailsPanel.component.test.tsx.snap
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.test.tsx
  packages/datagateway-table/src/dls/detailsPanels/datasetDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.test.tsx
  packages/datagateway-table/src/dls/detailsPanels/visitDetailsPanel.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsMyDataTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
Labels: datagateway-table, enhancement
