Repository ral-facilities/datagateway, pull requests merged in 2020-01, with the labels that each got.

#98 Feature/container component #83
  packages/datagateway-table/cypress/integration/pageContainer.spec.ts
  packages/datagateway-table/cypress/integration/pageHead.spec.ts
  packages/datagateway-table/src/App.tsx
  packages/datagateway-table/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-table/src/__snapshots__/pageHead.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.test.tsx
  packages/datagateway-table/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.test.tsx
  packages/datagateway-table/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-table/src/pageContainer.component.test.tsx
  packages/datagateway-table/src/pageContainer.component.tsx
  packages/datagateway-table/src/pageHead.component.tsx
  packages/datagateway-table/src/pageTable.component.test.tsx
  packages/datagateway-table/src/pageTable.component.tsx
  packages/datagateway-table/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-table/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-table/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-table/src/table/datafileTable.component.test.tsx
  packages/datagateway-table/src/table/datafileTable.component.tsx
  packages/datagateway-table/src/table/datasetTable.component.test.tsx
  packages/datagateway-table/src/table/datasetTable.component.tsx
  packages/datagateway-table/src/table/investigationTable.component.test.tsx
  packages/datagateway-table/src/table/investigationTable.component.tsx
Labels: MVP, datagateway-table

#106 Fix URLSearchParams tests
  packages/datagateway-table/src/state/actions/cart.test.tsx
  packages/datagateway-table/src/state/actions/datafiles.test.tsx
  packages/datagateway-table/src/state/actions/datasets.test.tsx
  packages/datagateway-table/src/state/actions/facilityCycles.test.tsx
  packages/datagateway-table/src/state/actions/instruments.test.tsx
  packages/datagateway-table/src/state/actions/investigations.test.tsx
  packages/datagateway-table/src/state/actions/investigations.tsx
Labels: bug

#109 Add disableGlobal parameter to createGenerateClassName in packages (#108)
  packages/datagateway-download/src/App.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-table/src/App.tsx
Labels: bug, datagateway-download, datagateway-search, datagateway-table

#103 Feature/download confirmation #49
  README.md
  package.json
  packages/datagateway-common/src/app.types.tsx
  packages/datagateway-download/__mocks__/axios.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/support/commands.js
  packages/datagateway-download/cypress/support/index.d.ts
  packages/datagateway-download/src/App.tsx
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartApi.test.ts
  packages/datagateway-download/src/downloadCart/downloadCartApi.ts
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadConfirmation/__snapshots__/downloadConfirmDialog.component.test.tsx.snap
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.test.tsx
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
  packages/datagateway-download/src/downloadConfirmation/mark.component.tsx
  packages/datagateway-table/public/datagateway-table-settings.example copy.json
  packages/datagateway-table/src/arrowtooltip.component.tsx
  packages/datagateway-table/src/breadcrumbs.component.tsx
  packages/datagateway-table/src/state/actions/investigations.test.tsx
Labels: MVP, datagateway-download

#100 Feature/data search #33
  packages/datagateway-search/package.json
  packages/datagateway-search/src/App.test.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/Header.component.tsx
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/checkBoxes.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/datePicker.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/state/actions/actions.tsx
  packages/datagateway-search/src/state/actions/actions.types.tsx
  packages/datagateway-search/src/state/app.types.tsx
  packages/datagateway-search/src/state/reducers/app.reducer.tsx
  packages/datagateway-search/src/state/reducers/createReducer.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.test.tsx
  packages/datagateway-search/src/state/reducers/dgsearch.reducer.tsx
Labels: MVP, datagateway-search
