Repository ral-facilities/datagateway, pull requests merged in 2020-08, with the labels that each got.

#335 Feature/i18n search #84
  packages/datagateway-dataview/public/datagateway-dataview-settings.example.json
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/server/e2e-settings.json
  packages/datagateway-dataview/src/state/actions/actions.test.tsx
  packages/datagateway-dataview/src/state/actions/actions.types.tsx
  packages/datagateway-dataview/src/state/actions/index.tsx
  packages/datagateway-dataview/src/state/app.types.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.test.tsx
  packages/datagateway-dataview/src/state/reducers/dgdataview.reducer.tsx
  packages/datagateway-dataview/src/state/strings.test.tsx
  packages/datagateway-dataview/src/state/strings.tsx
  packages/datagateway-dataview/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
  packages/datagateway-search/cypress/integration/search/datafileSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/datasetSearch.spec.ts
  packages/datagateway-search/cypress/integration/search/investigationSearch.spec.ts
  packages/datagateway-search/cypress/integration/searchBoxContainer.spec.ts
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/package.json
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.test.tsx.snap
  packages/datagateway-search/src/i18n.ts
  packages/datagateway-search/src/index.tsx
  packages/datagateway-search/src/search/__snapshots__/checkBoxes.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/datePicker.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchButton.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/searchTextBox.test.tsx.snap
  packages/datagateway-search/src/search/checkBoxes.component.test.tsx
  packages/datagateway-search/src/search/checkBoxes.component.tsx
  packages/datagateway-search/src/search/datePicker.component.test.tsx
  packages/datagateway-search/src/search/datePicker.component.tsx
  packages/datagateway-search/src/search/searchButton.component.test.tsx
  packages/datagateway-search/src/search/searchButton.component.tsx
  packages/datagateway-search/src/search/searchTextBox.component.tsx
  packages/datagateway-search/src/search/searchTextBox.test.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.test.tsx
  packages/datagateway-search/src/searchPageTable.tsx
  packages/datagateway-search/src/table/__snapshots__/datafileSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/datasetSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/__snapshots__/investigationSearchTable.component.test.tsx.snap
  packages/datagateway-search/src/table/datafileSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datafileSearchTable.component.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.test.tsx
  packages/datagateway-search/src/table/datasetSearchTable.component.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.test.tsx
  packages/datagateway-search/src/table/investigationSearchTable.component.tsx
Labels: datagateway-search

#357 Feature/dark mode #354
  packages/datagateway-common/src/preloader/__snapshots__/preloader.component.test.tsx.snap
  packages/datagateway-common/src/preloader/preloader.component.test.tsx
  packages/datagateway-common/src/preloader/preloader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/__snapshots__/pageContainer.component.test.tsx.snap
  packages/datagateway-dataview/src/breadcrumbs.component.tsx
  packages/datagateway-dataview/src/pageContainer.component.tsx
  packages/datagateway-download/src/downloadTab/__snapshots__/downloadTab.component.test.tsx.snap
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
  packages/datagateway-search/src/App.tsx
  packages/datagateway-search/src/__snapshots__/searchPageContainer.component.test.tsx.snap
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.tsx
Labels: enhancement

#348 Feature/ui improvements #341
  packages/datagateway-common/src/table/headerRenderers/__snapshots__/dataHeader.component.test.tsx.snap
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-common/src/table/table.component.tsx
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsProposalsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/__snapshots__/dlsVisitsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/dls/tables/dlsDatafilesTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsDatasetsTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsMyDataTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsProposalsTable.component.tsx
  packages/datagateway-dataview/src/dls/tables/dlsVisitsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatafilesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisDatasetsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisFacilityCyclesTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInstrumentsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/__snapshots__/isisMyDataTable.component.test.tsx.snap
  packages/datagateway-dataview/src/isis/tables/isisDatafilesTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisDatasetsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisFacilityCyclesTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisInstrumentsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisInvestigationsTable.component.tsx
  packages/datagateway-dataview/src/isis/tables/isisMyDataTable.component.tsx
  packages/datagateway-dataview/src/table/__snapshots__/datafileTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/datasetTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/__snapshots__/investigationTable.component.test.tsx.snap
  packages/datagateway-dataview/src/table/datafileTable.component.tsx
  packages/datagateway-dataview/src/table/datasetTable.component.tsx
  packages/datagateway-dataview/src/table/investigationTable.component.tsx
Labels: MVP, datagateway-dataview, enhancement
