Repository ral-facilities/datagateway, pull requests merged in 2021-09, with the labels that each got.

#818 Unskipping MyData e2e tests #659
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/isis/myData.spec.ts
  packages/datagateway-dataview/cypress/support/commands.js
Labels: bug, datagateway-dataview

#820 Improving visibility of text on download confirm dialogue box #770
  packages/datagateway-download/src/downloadConfirmation/downloadConfirmDialog.component.tsx
Labels: bug, datagateway-download

#829 Added alt text to homepage images #826
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
  packages/datagateway-dataview/src/page/translatedHomePage.component.tsx
Labels: bug, datagateway-common, datagateway-dataview

#812 Adding download button for ISIS investigations #802
  packages/datagateway-common/src/api/investigations.test.tsx
  packages/datagateway-common/src/api/investigations.tsx
  packages/datagateway-dataview/cypress/integration/table/isis/investigations.spec.ts
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.test.tsx
  packages/datagateway-dataview/src/views/card/isis/isisInvestigationsCardView.component.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.test.tsx
  packages/datagateway-dataview/src/views/downloadButton.component.tsx
  packages/datagateway-dataview/src/views/table/isis/__snapshots__/isisInvestigationsTable.component.test.tsx.snap
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.test.tsx
  packages/datagateway-dataview/src/views/table/isis/isisInvestigationsTable.component.tsx
Labels: enhancement, datagateway-dataview
