Repository ral-facilities/datagateway, pull requests merged in 2022-04, with the labels that each got.

#1217 Add license badge
  README.md
Labels: documentation

#1220 Adding contributing guidelines
  CONTRIBUTING.md
  README.md
Labels: documentation

#1204 Selections tab is now loaded on every navigation to /download #1193
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/cypress/integration/downloadConfirmation.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadTab.spec.ts
  packages/datagateway-download/src/downloadTab/downloadTab.component.test.tsx
  packages/datagateway-download/src/downloadTab/downloadTab.component.tsx
Labels: bug, datagateway-download

#836 Rename instances of "master" to "main"
  .github/workflows/ci-build.yml
  .github/workflows/release-build.yml
  README.md
Labels: enhancement

#1216 Adding ability to use DatePicker or DateTimePicker in date filter column #1175
  packages/datagateway-common/src/table/columnFilters/__snapshots__/dateColumnFilter.component.test.tsx.snap
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.test.tsx
  packages/datagateway-common/src/table/columnFilters/dateColumnFilter.component.tsx
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Labels: enhancement, good first issue, datagateway-download, datagateway-common, user feedback

#1226 Download tables sort by requested time descending by default #1176
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/cypress/integration/downloadStatus.spec.ts
  packages/datagateway-download/src/downloadStatus/__snapshots__/adminDownloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/__snapshots__/downloadStatusTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
Labels: enhancement, datagateway-download, user feedback

#1228 Adding alert label if file/size limit exceeded in selections table #1183
  packages/datagateway-download/package.json
  packages/datagateway-download/public/res/default.json
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
Labels: enhancement, datagateway-download, user feedback
