Repository ral-facilities/datagateway, pull requests merged in 2022-03, with the labels that each got.

#1140 Changing the admin download table pathname #958
  packages/datagateway-download/cypress/integration/adminDownloadStatus.spec.ts
  packages/datagateway-download/public/datagateway-download-settings.example.json
  packages/datagateway-download/server/e2e-settings.json
  packages/datagateway-download/src/App.tsx
Labels: datagateway-download, user feedback

#1157 Fix search checkbox labels ignoring the translation file (#1156)
  packages/datagateway-search/src/search/checkBoxes.component.tsx
Labels: bug, datagateway-search

#1154 Use react-router links for example searches
  packages/datagateway-search/src/__snapshots__/searchBoxContainer.component.test.tsx.snap
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.test.tsx
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
  packages/datagateway-search/src/searchBoxContainer.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
Labels: enhancement, datagateway-search

#1159 Adding aria label to open data #1158
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
Labels: accessibility

#1161 Close advanced help when an example link is clicked (#1160)
  packages/datagateway-search/src/search/__snapshots__/advancedHelpDialogue.component.test.tsx.snap
  packages/datagateway-search/src/search/advancedHelpDialogue.component.tsx
Labels: MVP, datagateway-search
