Repository ral-facilities/datagateway, pull requests merged in 2022-02, with the labels that each got.

#1079 Use ResizeObserver to calculate whether a tooltip is visible (#1077)
  packages/datagateway-common/package.json
  packages/datagateway-common/src/arrowtooltip.component.test.tsx
  packages/datagateway-common/src/arrowtooltip.component.tsx
  packages/datagateway-common/src/card/__snapshots__/entityCard.component.test.tsx.snap
  packages/datagateway-common/src/card/entityCard.component.tsx
  packages/datagateway-common/src/homePage/__snapshots__/homePage.component.test.tsx.snap
  packages/datagateway-common/src/homePage/homePage.component.tsx
  packages/datagateway-common/src/setupTests.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.test.tsx
  packages/datagateway-common/src/table/headerRenderers/dataHeader.component.tsx
  packages/datagateway-dataview/cypress/integration/breadcrumbs.spec.ts
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/src/page/__snapshots__/translatedHomePage.component.test.tsx.snap
Labels: bug, MVP

#1098 Adding a clear filters button on data/search #1019
  packages/datagateway-common/src/api/index.test.tsx
  packages/datagateway-common/src/api/index.tsx
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/myData.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.test.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Labels: datagateway-search, datagateway-dataview

#1097 CRA 5 upgrade
  packages/datagateway-common/package.json
  packages/datagateway-common/src/images/datagateway-logo.svg
  packages/datagateway-common/src/images/datgateway-white-text-blue-mark-logo.svg
  packages/datagateway-common/src/images/decal1.svg
  packages/datagateway-common/src/images/decal2-dark.svg
  packages/datagateway-common/src/images/decal2-darkhc.svg
  packages/datagateway-common/src/images/decal2.svg
  packages/datagateway-common/tsconfig.json
  packages/datagateway-dataview/package.json
  packages/datagateway-dataview/src/setupTests.ts
  packages/datagateway-dataview/tsconfig.json
  packages/datagateway-download/cypress/integration/downloadCart.spec.ts
  packages/datagateway-download/package.json
  packages/datagateway-download/src/downloadCart/__snapshots__/downloadCartTable.component.test.tsx.snap
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.test.tsx
  packages/datagateway-download/src/downloadCart/downloadCartTable.component.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/adminDownloadStatusTable.component.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.test.tsx
  packages/datagateway-download/src/downloadStatus/downloadStatusTable.component.tsx
  packages/datagateway-download/src/setupTests.ts
  packages/datagateway-download/tsconfig.json
  packages/datagateway-search/package.json
  packages/datagateway-search/src/setupTests.ts
  packages/datagateway-search/tsconfig.json
  yarn.lock
Labels: dependencies

#1095 Adding the Cart to search #1092
  packages/datagateway-common/src/index.tsx
  packages/datagateway-common/src/views/__snapshots__/viewCartButton.component.test.tsx.snap
  packages/datagateway-common/src/views/viewCartButton.component.test.tsx
  packages/datagateway-common/src/views/viewCartButton.component.tsx
  packages/datagateway-dataview/cypress/integration/card/pageContainer.spec.ts
  packages/datagateway-dataview/cypress/integration/table/pageContainer.spec.ts
  packages/datagateway-dataview/public/res/default.json
  packages/datagateway-dataview/src/page/pageContainer.component.test.tsx
  packages/datagateway-dataview/src/page/pageContainer.component.tsx
  packages/datagateway-search/cypress/integration/searchPageContainer.spec.ts
  packages/datagateway-search/public/res/default.json
  packages/datagateway-search/src/__snapshots__/searchPageCardView.component.test.tsx.snap
  packages/datagateway-search/src/__snapshots__/searchPageTable.component.test.tsx.snap
  packages/datagateway-search/src/searchPageCardView.component.test.tsx
  packages/datagateway-search/src/searchPageCardView.component.tsx
  packages/datagateway-search/src/searchPageContainer.component.tsx
  packages/datagateway-search/src/searchPageTable.component.test.tsx
  packages/datagateway-search/src/searchPageTable.component.tsx
Labels: datagateway-search, datagateway-common, datagateway-dataview

#1127 fixing the calculate button when value is 0 #1122
  packages/datagateway-common/src/detailsPanels/dls/datasetDetailsPanel.component.tsx
  packages/datagateway-common/src/detailsPanels/dls/visitDetailsPanel.component.tsx
  packages/datagateway-dataview/cypress/integration/table/dls/datasets.spec.ts
  packages/datagateway-dataview/cypress/integration/table/dls/visits.spec.ts
Labels: bug, datagateway-common
